@charset "utf-8";

// Import a Google Font
@import url("https://fonts.googleapis.com/css?family=Nunito:400,700");

// Set your brand colors
$purple: #d7b6b6;
$pink: #9b616b;
$brown: #757763;
$beige-light: #d0d1cd;
$beige-lighter: #eff0eb;
// $blue-lighter: #d6dee5;

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$family-secondary: "Allura", sans-serif;
$grey-dark: $brown;
$grey-light: $beige-light;
// $danger-light: $blue-lighter;
$primary: $purple;
$link: $pink;
$widescreen-enabled: true;
$fullhd-enabled: true;
.has-bg-img {
  background: url("../img/bgbulma.jpg");
  background-size: cover;
  opacity: 0.65;
}
.box:not(:last-child){
    margin-bottom: 0;
}


// Update some of Bulma's component variables
$body-background-color: $beige-lighter;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

// Import only what you need from Bulma
@import "../node_modules/bulma/bulma.sass";
